/* styles for navbar */
.navbar {
  font-family: "Poppins", Verdana, sans-serif;
}

/* styles for lead image+caption container */
.lead-image-container {
  color: white;
  padding: 15px 0;
  position: relative;
}


h1 {
    text-align: center;    /* Center align the text */
    margin-bottom: 30px;   /* Add some spacing below the title */
    font-size: 2.5rem;     /* will adjust font size as needed */
}

.caption {
    font-size: 14px; /* Adjust to your preferred size */
    line-height: 1.4; /* Optional: Adjust line height to fit the caption better */
}

blockquote.text-center {
    font-size: 1.5rem;          /* Larger font size for the quote */
    font-style: italic;         /* Italicize the quote text */
    background-color: #f8f9fa;  /* Light background */
    border-left: 5px solid #007bff; /* Blue left border */
    padding-left: 20px;         /* Space between the text and the left border */
    margin: 30px auto;          /* Center the blockquote and add vertical spacing */
    max-width: 600px;           /* Limit the width to prevent it from being too wide */
    text-align: center;         /* Center align the quote text */
}

blockquote.text-center p {
    margin-bottom: 20px;        /* Add more space between the quote and the footer */
}

blockquote.text-center footer {
    font-size: 1.2rem;          /* Smaller font for the author */
    color: #555;                /* Light grey color for the footer */
    margin-top: 10px;           /* Add some space between the quote and the footer */
}

.video-container {
    width: 100%; /* Ensure it takes full width */
    max-width: 100%; /* Prevent it from being wider than the container */
    margin: 0 auto; /* Center the content */
}

.embed-container iframe {
    width: 100%; /* Makes the video responsive */
    height: auto; /* Maintain aspect ratio */
}

