/* Style for unordered lists */
ul {
    list-style-type: none; /* Keeps bullet points off default lists like the menu */
    padding: 0;
}

/* Specific style for the Education and Skills lists to show bullet points */
#degrees, #do {
    list-style-type: disc; /* This will add bullet points */
    margin-left: 20px; /* Adds indentation for better visibility */
}